<div class="panel">
    <div class="panel-izquierdo">
        <span class="titulo">Nueva donación</span>

        <br><br><br>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" class="right-align" [(ngModel)]="cantidad"/>
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
        </mat-form-field>

        <p style="font-size: 28px; font-weight: bold;">Esto nos permitiría</p>
        <p class="sub-titulo">Preparar <b>{{getViandas()}}</b> viandas</p>
        <p class="sub-titulo">Mantener <b>{{getHeladeras()}}</b> heladeras por un mes</p>
        <p class="sub-titulo">Sostener nuestra organización</p>
    </div>
    <div class="panel-derecho">
        <p class="sub-titulo" style="margin-bottom: 60px;">Datos de pago</p>

        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>Medio de pago</mat-label>
          <mat-select>
            @for (m of medios; track m) {
              <mat-option [value]="m.value">{{m.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <br><br><br>

        <div style="display: inline;">
          <mat-form-field floatLabel="always" appearance="outline" style="margin-right: 20px;">
            <mat-label>Número de la tarjeta</mat-label>
            <input matInput type="number"/>
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Nombre como figura</mat-label>
            <input matInput type="text"/>
          </mat-form-field>
        </div>

        <br>

        <div style="display: inline;">
          <mat-form-field floatLabel="always" appearance="outline" style="margin-right: 20px;">
            <mat-label>Fecha de vencimiento</mat-label>
            <input matInput type="text"/>
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Código de seguridad</mat-label>
            <input matInput type="number"/>
          </mat-form-field>
        </div>

        <br><br><br>

        <p class="sub-titulo" style="margin-bottom: 20px;">Recurrencia</p>

        <mat-radio-group [(ngModel)]="recu" color="primary">
          <mat-radio-button value="1">Hacer una donación recurrente</mat-radio-button>
          <mat-radio-button value="0">Hacer una donación única</mat-radio-button>
        </mat-radio-group>
        
        <br><br>

        @if(recu == '1'){
          <mat-radio-group color="primary">
            <mat-radio-button value="0">Semanal</mat-radio-button>
            <mat-radio-button value="1">Mensual</mat-radio-button>
            <mat-radio-button value="2">Anual</mat-radio-button>
          </mat-radio-group>
        }

        <br><br><br>
        
        
        <button mat-flat-button color="primary">Donar</button>
    </div>
</div>
