<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Donar Dinero</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo_n.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo_n.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span> 
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile"><i class="icon-user"></i> <span>Mi cuenta</span></a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;"><i class="icon-key"></i> <span>Cerrar sesión</span></a>

                                            <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    {{#each menu as | link |}}
                        <li>
                            <a href="{{link.href}}" aria-expanded="false">
                                <i class="{{link.icono}} menu-icon"></i><span class="nav-text">{{link.titulo}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            
            <div style="display: flex;">
                <div class="col-lg-6" style="margin-top: 15px;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Nueva Donación</h4>
                            <div class="basic-form">
                                <form action="/dinero" method="post" id="donationForm">
                                    <div class="form-group">
                                        <label>Monto de dinero a donar</label>
                                        <input type="number" min="1" name="monto" class="form-control" placeholder="Monto en ARS" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Tipo de tarjeta</label>
                                        <select name="tipoTarjeta" class="form-control" required>
                                            <option selected disabled value="">Elige...</option>
                                            <option value="Visa">Visa</option>
                                            <option value="MasterCard">MasterCard</option>
                                            <option value="Amex">Amex</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Número de tarjeta</label>
                                        <input type="text" name="numTarjeta" class="form-control" placeholder="Número de tarjeta" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre del titular</label>
                                        <input type="text" name="nombreTitular" class="form-control" placeholder="Nombre del titular" required>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Fecha de vencimiento</label>
                                            <input type="month" name="mesVencimiento" class="form-control" placeholder="MM-YY" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Código de seguridad</label>
                                            <input type="text" name="codSeguridad" class="form-control" placeholder="Código CVV" required>
                                        </div>
                                    </div>
                                    <div style="display: flex;">
                                        <div class="form-group">
                                            <label>Tipo de donación</label>
                                            <div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="tipo" id="oneTime" value="unica" required>
                                                    <label class="form-check-label" for="oneTime">Única</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="tipo" id="recurring" value="recurrente" required>
                                                    <label class="form-check-label" for="recurring">Recurrente</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="recurrenceFrequency" style="display:none; margin-left: 30px;">
                                            <label>Frecuencia de la recurrencia</label>
                                            <div class="d-flex justify-content-end">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="recurrencia" id="weekly" value="semanal">
                                                    <label class="form-check-label" for="weekly">Semanal</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="recurrencia" id="monthly" value="mensual">
                                                    <label class="form-check-label" for="monthly">Mensual</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="recurrencia" id="yearly" value="anual">
                                                    <label class="form-check-label" for="yearly">Anual</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success">Donar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="margin-top: 15px;">
                    <div class="card">
                        <div class="card-body" style="padding: 54px 29px;">
                            <img class="d-block w-100" src="images/dinero.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Trabajo Integrador DDS 2024 Grupo 12</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="./js/dashboard/dashboard-1.js"></script>

    <script>
        document.querySelectorAll('input[name="tipo"]').forEach((elem) => {
            elem.addEventListener("change", function(event) {
                const frequencyDiv = document.getElementById("recurrenceFrequency");
                if (event.target.value === "recurrente") {
                    frequencyDiv.style.display = "block";
                } else {
                    frequencyDiv.style.display = "none";
                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const oneTimeRadio = document.getElementById('oneTime');
            const recurringRadio = document.getElementById('recurring');
            const recurrenceFrequency = document.getElementById('recurrenceFrequency');
            const recurrenceRadios = document.querySelectorAll('input[name="recurrencia"]');

            function toggleRecurrence() {
                if (recurringRadio.checked) {
                    recurrenceFrequency.style.display = 'block';
                    recurrenceRadios.forEach(radio => radio.setAttribute('required', true));
                } else {
                    recurrenceFrequency.style.display = 'none';
                    recurrenceRadios.forEach(radio => radio.removeAttribute('required'));
                }
            }

            oneTimeRadio.addEventListener('change', toggleRecurrence);
            recurringRadio.addEventListener('change', toggleRecurrence);

            toggleRecurrence();
        });
    </script>

</body>

</html>
