<html>
<head>
    <meta charset="UTF-8">
</head>

<table>

    <tr>
        <td>Nombre</td>
        <td>{{hela.nombre}}</td>
    </tr>
    <tr>
        <td>Descripción</td>
    </tr>

</table>

</html>