<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Traslados</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo_n.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo_n.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span> 
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile"><i class="icon-user"></i> <span>Mi cuenta</span></a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li><a href="page-login"><i class="icon-key"></i> <span>Cerrar sesión</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">(Personas)</li>
                    <li>
                        <a href="vianda" aria-expanded="false">
                            <i class="icon-cup menu-icon"></i><span class="nav-text">Donar Vianda</span>
                        </a>
                    </li>
                    <li>
                        <a href="traslado" aria-expanded="false">
                            <i class="icon-direction menu-icon"></i><span class="nav-text">Traslados</span>
                        </a>
                    </li>
                    <li>
                        <a href="registrar-personas" aria-expanded="false">
                            <i class="icon-user-follow menu-icon"></i><span class="nav-text">Registrar Personas</span>
                        </a>
                    </li>
                    <li>
                        <a href="dinero" aria-expanded="false">
                            <i class="icon-wallet menu-icon"></i><span class="nav-text">Donar Dinero</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="heladeras-p" aria-expanded="false">
                            <i class="icon-heladera menu-icon"></i><span class="nav-text">Heladeras</span>
                        </a>
                    </li>
                    <li>
                        <a href="puntos" aria-expanded="false">
                            <i class="icon-diamond menu-icon"></i><span class="nav-text">Puntos</span>
                        </a>
                    </li>

                    <li class="nav-label">(Organizaciones)</li>
                    <li>
                        <a href="heladeras-o" aria-expanded="false">
                            <i class="icon-heladera menu-icon"></i><span class="nav-text">Heladeras</span>
                        </a>
                    </li>
                    <li>
                        <a href="ofertas" aria-expanded="false">
                            <i class="icon-present menu-icon"></i><span class="nav-text">Ofertas</span>
                        </a>
                    </li>
                    <li>
                        <a href="dinero" aria-expanded="false">
                            <i class="icon-wallet menu-icon"></i><span class="nav-text">Donar Dinero</span>
                        </a>
                    </li>
                    <li>
                        <a href="puntos" aria-expanded="false">
                            <i class="icon-diamond menu-icon"></i><span class="nav-text">Puntos</span>
                        </a>
                    </li>

                    <li class="nav-label">(Administrador)</li>
                    <li>
                        <a href="migracion" aria-expanded="false">
                            <i class="icon-cloud-upload menu-icon"></i><span class="nav-text">Migración</span>
                        </a>
                    </li>
                    <li>
                        <a href="heladeras-a" aria-expanded="false">
                            <i class="icon-heladera menu-icon"></i><span class="nav-text">Heladeras</span>
                        </a>
                    </li>
                    <li>
                        <a href="reportes" aria-expanded="false">
                            <i class="icon-chart menu-icon"></i><span class="nav-text">Reportes</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            
            <div style="display: flex;">
                <div class="col-lg-8" style="padding: 0;">
                    <gmp-map
                        center="-34.649518, -58.552020"
                        zoom="10"
                        map-id="DEMO_MAP_ID"
                        class="mapa">
                        <gmp-advanced-marker
                            position="-34.598584, -58.420238"
                            title="UTN Medrano"
                        ></gmp-advanced-marker>
                        <gmp-advanced-marker
                            position="-34.610504, -58.412421"
                            title="Ejército de Salvación Central"
                        ></gmp-advanced-marker>
                        <gmp-advanced-marker
                            position="-34.610837, -58.416817"
                            title="Colegio Mariano Moreno"
                        ></gmp-advanced-marker>
                        <gmp-advanced-marker
                            position="-34.607565, -58.437518"
                            title="Parque Centenario 1"
                        ></gmp-advanced-marker>
                        
                    </gmp-map>
                </div>
                <div class="col-lg-4 lista-heladera">

                    <div class="card">
                        <div class="card-body heladera-item">
                            <h3>Colegio Mariano Moreno <span class="label label-pill label-warning">Llena</span></h3>
                            <i class="icon-cup menu-icon"></i><span style="margin-left: 5px;">60/60 viandas</span><br><br>
                            <div style="display: flex;">
                                <div class="form-group" style="width: 120px; margin-right: 10px;">
                                    <input type="number" class="form-control" placeholder="Cantidad">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" required>
                                        <option selected disabled>Selecciona una heladera...</option>
                                        <option>UTN Medrano</option>
                                        <option>Ejército de Salvación Central</option>
                                        <option disabled>Colegio Mariano Moreno</option>
                                        <option disabled>Parque Centenario 1</option>
                                    </select>
                                </div>
                                <button type="button" class="btn mb-1 btn-primary" style="height: 37px; margin-top: 5px; margin-left: 10px;">Trasladar</button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body heladera-item">
                            <h3>Parque Centenario 1 <span class="label label-pill label-danger">Rota</span></h3>
                            <i class="icon-cup menu-icon"></i><span style="margin-left: 5px;">20/60 viandas</span><br><br>
                            <div style="display: flex;">
                                <div class="form-group" style="width: 120px; margin-right: 10px;">
                                    <input type="number" class="form-control" placeholder="Cantidad">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" required>
                                        <option selected disabled>Selecciona una heladera...</option>
                                        <option>UTN Medrano</option>
                                        <option>Ejército de Salvación Central</option>
                                        <option disabled>Colegio Mariano Moreno</option>
                                        <option disabled>Parque Centenario 1</option>
                                    </select>
                                </div>
                                <button type="button" class="btn mb-1 btn-primary" style="height: 37px; margin-top: 5px; margin-left: 10px;">Trasladar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Trabajo Integrador DDS 2024 Grupo 12</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="./js/dashboard/dashboard-1.js"></script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBjM6Q9EpKanVT0NdUc3k-5xwrgrk2hhE&callback=initMap&libraries=marker&v=beta"
    defer
    ></script>

</body>

</html>
