<div style="display: flex;">
    <div>
        @for(h of heladeras; track h){
            <div class="heladera">
                <p style="font-size: 24px; font-weight: bold;">{{h.nombre}}</p>
                <p>{{h.direccion}}</p>
                <p>{{h.capacidad}} viandas</p>
                <mat-checkbox [(ngModel)]="h.sus">Suscribirse para recibir alertas</mat-checkbox>
            </div>
        }
    </div>
    <div style="background-color: #EEEEEE; width: 100%;">
        MAPA
    </div>
</div>
