<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Reportes</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.hbs">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo_n.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo_n.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span> 
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.hbs"><i class="icon-user"></i> <span>Mi cuenta</span></a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li><a href="page-login.hbs"><i class="icon-key"></i> <span>Cerrar sesión</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">(Personas)</li>
                    <li>
                        <a href="vianda.hbs" aria-expanded="false">
                            <i class="icon-cup menu-icon"></i><span class="nav-text">Donar Vianda</span>
                        </a>
                    </li>
                    <li>
                        <a href="traslado.hbs" aria-expanded="false">
                            <i class="icon-direction menu-icon"></i><span class="nav-text">Traslados</span>
                        </a>
                    </li>
                    <li>
                        <a href="registrar-personas.hbs" aria-expanded="false">
                            <i class="icon-user-follow menu-icon"></i><span class="nav-text">Registrar Personas</span>
                        </a>
                    </li>
                    <li>
                        <a href="dinero.hbs" aria-expanded="false">
                            <i class="icon-wallet menu-icon"></i><span class="nav-text">Donar Dinero</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="heladeras-p.hbs" aria-expanded="false">
                            <i class="icon-heladera menu-icon"></i><span class="nav-text">Heladeras</span>
                        </a>
                    </li>
                    <li>
                        <a href="puntos.hbs" aria-expanded="false">
                            <i class="icon-diamond menu-icon"></i><span class="nav-text">Puntos</span>
                        </a>
                    </li>

                    <li class="nav-label">(Organizaciones)</li>
                    <li>
                        <a href="heladeras-o.hbs" aria-expanded="false">
                            <i class="icon-heladera menu-icon"></i><span class="nav-text">Heladeras</span>
                        </a>
                    </li>
                    <li>
                        <a href="ofertas.hbs" aria-expanded="false">
                            <i class="icon-present menu-icon"></i><span class="nav-text">Ofertas</span>
                        </a>
                    </li>
                    <li>
                        <a href="dinero.hbs" aria-expanded="false">
                            <i class="icon-wallet menu-icon"></i><span class="nav-text">Donar Dinero</span>
                        </a>
                    </li>
                    <li>
                        <a href="puntos.hbs" aria-expanded="false">
                            <i class="icon-diamond menu-icon"></i><span class="nav-text">Puntos</span>
                        </a>
                    </li>

                    <li class="nav-label">(Administrador)</li>
                    <li>
                        <a href="migracion.hbs" aria-expanded="false">
                            <i class="icon-cloud-upload menu-icon"></i><span class="nav-text">Migración</span>
                        </a>
                    </li>
                    <li>
                        <a href="heladeras-a.hbs" aria-expanded="false">
                            <i class="icon-heladera menu-icon"></i><span class="nav-text">Heladeras</span>
                        </a>
                    </li>
                    <li>
                        <a href="reportes.hbs" aria-expanded="false">
                            <i class="icon-chart menu-icon"></i><span class="nav-text">Reportes</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="col-lg-12">
                <div class="card" style="margin: 15px;">
                    <div class="card-body">
                        <div style="display: flex;">
                            <h4 class="card-title" style="align-content: center;">Reportes de la semana </h4>
                            <div class="form-group" style="position: relative; top: 5px; margin-left: 10px;">
                                <select class="form-control" required>
                                    <option selected>29/09/2024 - 05/10/2024</option>
                                    <option>22/09/2024 - 28/09/2024</option>
                                    <option>15/09/2024 - 21/09/2024</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="card" style="margin: 15px;">
                    <div class="card-body">
                        <h4 class="card-title">Heladeras</h4>
                        <div class="table-responsive">
                            <table class="table table-striped zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Heladera</th>
                                        <th>Fallas</th>
                                        <th>Viandas Colocadas</th>
                                        <th>Viandas Retiradas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>UTN Medrano</th>
                                        <td>2</td>
                                        <td>41</td>
                                        <td>37</td>
                                    </tr>
                                    <tr>
                                        <th>Ejército de Salvación Central</th>
                                        <td>4</td>
                                        <td>72</td>
                                        <td>76</td>
                                    </tr>
                                    <tr>
                                        <th>Colegio Mariano Moreno</th>
                                        <td>0</td>
                                        <td>56</td>
                                        <td>56</td>
                                    </tr>
                                    <tr>
                                        <th>Parque Centenario 1</th>
                                        <td>11</td>
                                        <td>64</td>
                                        <td>68</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-12"></div>
                <div class="card" style="margin: 15px;">
                    <div class="card-body">
                        <h4 class="card-title">Colaboradores</h4>
                        <div class="table-responsive">
                            <table class="table table-striped zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Usuario</th>
                                        <th>Viandas Donadas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Juan Ignacio</th>
                                        <td>Diaz Puig</td>
                                        <td>juani123</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <th>Juan Martin</th>
                                        <td>Terrizzi</td>
                                        <td>juanma_moreno</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <th>Tomás</th>
                                        <td>Cerezo</td>
                                        <td>naicon67</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <th>Lucio</th>
                                        <td>Valenzano Vecchio</td>
                                        <td>lucilu</td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <th>Juan</th>
                                        <td>Polito</td>
                                        <td>poli</td>
                                        <td>67</td>
                                    </tr>
                                    <tr>
                                        <th>Fahim</th>
                                        <td>Wahid</td>
                                        <td>fahim_bangla</td>
                                        <td>999</td>
                                    </tr>
                                    <tr>
                                        <th>Iñaki</th>
                                        <td>Aranzamendi</td>
                                        <td>inia_b</td>
                                        <td>43</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Trabajo Integrador DDS 2024 Grupo 12</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="./js/dashboard/dashboard-1.js"></script>

    <script src="./plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="./plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="./plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

</body>

</html>
