<div style="padding: 40px;">

    <mat-form-field floatLabel="always" appearance="outline" style="margin-right: 20px;">
        <mat-label>Nombre completo</mat-label>
        <input matInput type="text"/>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline" style="width: 212px;">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br><br><br>

    <mat-checkbox [(ngModel)]="calle" style="margin-right: 55px;">En situación de calle</mat-checkbox>

    @if(!calle){
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput type="text"/>
        </mat-form-field>
    }

    <br><br><br>

    <mat-form-field floatLabel="always" appearance="outline" style="margin-right: 20px;">
        <mat-label>Tipo de documento</mat-label>
        <mat-select [(value)]="docu">
            @for (d of documentos; track d) {
            <mat-option [value]="d.value">{{d.viewValue}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    @if(docu != "na"){
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Documento</mat-label>
            <input matInput type="text"/>
        </mat-form-field>
    }

    <br><br><br>

    <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Cantidad de menores a cargo</mat-label>
        <input matInput type="number"/>
    </mat-form-field>

    <br><br><br>
        
        
    <button mat-flat-button color="primary">Registrar</button>
</div>
